.countdown {
    text-transform: uppercase;
    div {
        display: inline-block; 
        span {
            display: block;
            text-align: center;
        }
    }
    .countdown-container { 
        margin: 0 3px;
        .countdown-heading {
            margin-top: 20px;
            font-size: 16px;
            color: #ffffff;
        }
        .countdown-value {
            font-size: 20px;
            background: $color-main;
            padding: 0 10px;
            color: #fff;
            margin: 0 2px;
            margin-top: 10px;
            border-radius: 5px;
        }
    }
}

@media (min-width:768px) {
    .countdown {
        .countdown-container { 
            .countdown-value {
                font-size: 40px;
                padding: 0 20px;
                margin-top: 10px;
            }
        }
    }
}