*{
    margin: 0;
    padding: 0;
}
.workbackground{
    background-color:#161616 ;
}
.back_arrow{
    width: 14%;
    margin: 7px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.back_arrow img{
    width: 33%;
    

}
.arrow_hover:hover{
    fill: #fbbd18;
}

.workbar{
    
    display: flex;
    justify-content: center;
    align-items: center;
   position: sticky;
    top: 0;
    cursor: pointer;   
}
.work-list{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.work-list li{
    list-style: none;
    padding: 19px 25px;
}

.work-list li a {
   /* background-color: black; */
    color: white;
    padding: 16px 26px;
    text-align: center;
    text-decoration: none;
    font-size:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
  
.work-list li a:hover {
    background-color: transparent;
    color: #fbbd18;
}


@media only screen and (max-width: 1140px)
{
    .work-list{
        flex-direction: column;
    }
    .workbar{
        flex-direction: column;
        
    }
   
}
