*{
    margin: 0;
    box-sizing: border-box;
}





h3{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
}



#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 10;
  /* height: 100vh; */
 

}
canvas {
  height: 120vh;
}

.p-tb {
  padding-top: 90px;
  
}
.sec-title {
  margin-bottom: 0;
  color: #fff;
  display: block;
  text-align: center;
  width: max-content;
  
  position: relative;
  z-index: 10000;
  margin: auto;
}
.sec-title h1 + h3 {
  font-weight: normal;
}
.sec-title,{
  color: #fff;
}

.sec-title:after {
  min-height: 5px;
  content: "";
  display: block;
  margin: 30px 0;
  background: url(../images/line1.png) no-repeat 0 0;
}
.sec-title.text-center:after {
  min-height: 6px;
  content: "";
  display: block;
  margin: 30px 0;
  background: url(../images/line2.png) no-repeat 0 0;
}
.sec-title.text-center:after {
  background-position: center;
  margin: 25px auto;
}
.text-center{
  justify-content: center;
}



/*     workshop section start from here      */

.workshop_div{
  top: 6%;
text-align: center;
display: flex;
background: transparent;
width: 100%;
height: auto;
clear: both;

justify-content: center;
}

.worksection {
  width: 100%;
  padding: 0% 0px;
} 

.workcolums {
  float: left;
  box-shadow: 0px 0px 5px 2px rgb(42,98,46);
  padding: 0 10px;
  display: flex;
  width: auto;
  margin: 20px;
  padding: 0;
  border-radius: 13px;
  transition: transform .5s;
  overflow: hidden;
  background-color: black;
  position: relative;
    z-index: 10000;

}

.workcolums:hover{

  box-shadow: 0px 0px 4px 3px #fbbd18;
  transform: scale(1.06);
}


.workrow {
display: flex;
flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 5% 0% 0% 0%;
}


/* .workrow::after {
  content: "";
display: table;
clear: both;
display: flex;
flex: auto;
justify-content: space-around;
align-content: center;
align-items: center;
} */



/* Style the counter cards */
.sess_card {
  /* box-shadow: 0 4px 8px 0 rgba(226, 39, 39, 0.2); */
  padding: 0px;
  text-align: center;
  background-color: #f1f1f1;
  width: 350px !important;
  background-color: transparent;
}

.sesscardsimg{
    display: flex;
    width: auto !important;
    
}
.sess_img {
  
  padding-top: 21px;
  margin: 0%;
  display: flex;
  margin: 0px;
  padding: 0% 0% 0% 0%;
  height: 200px;
  max-width: 100%;
  width: -webkit-fill-available;
  border-radius: 0% 0% 13px 13px;
}
/* .worktitle{
  padding-bottom: 90px;
} */

.sesscardstext{
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  padding: 6px;
}


/* Responsive workcolumss */
@media screen and (max-width: 867px) {
  .workcolums {
   
    display: flex;
    
   flex-flow: row wrap;
   
   align-content: center;
   justify-content: center;
  }
  
  .worksection{
    padding: 0% 0%;
  }
}


@media screen and (max-width: 600px) {
  .workcolums {
    
    display: flex;
    
   flex-flow: row wrap;
   align-content: center;
   justify-content: center;

  }
}

@media screen and (max-width: 600px) {
  .workcolums {
   
    display: flex;
    
   flex-flow: row wrap;
  
   align-content: center;
   justify-content: center;
   margin-bottom: 11px;
   
  }
  .workshop_div{
    height: 246vh;
  }
}

